.item-slide-banner img {
    width: 100%;
    height: 100%;
}

.big-banner-slide {
    margin-bottom: 3rem;
}

.item-slide-banner {
    display: block;
    width: 100%;
    max-height: 193px;
}

.big-banner {
    position: relative;
}
.section{
	padding-top: 3em;
}
.navication {

    position: absolute;
    top: 35%;
    z-index: 1;
    display: flex;
    width: 100%;
    justify-content: space-between;

    span {
        // background-color: rgba(255, 255, 255, 0.6); 
        height: 50px;
        border: none;
        text-align: center;
        display: block;
        line-height: 55px;
        width: 30px;
        margin: 0 -45px;
        &:focus{
        	outline: none;
        }
        i {
            font-size: 20px;
            color: black;
        }
    }
}

.big-banner-pagination {
    bottom: -25px;
    width: 100%;
}
.ecom-list{
	.wow{
		margin-top: 15px;
	}
}