.select-banner a.btn{
	color: white;
}
.preview-image img{
	width: 10rem;
	height: auto !important;
}
.preview-image{
	padding: 2rem 0;
}
.short-link{
	    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}